.card {
  background: #f3f2f1;
  padding: 15px;
  border: 1px solid #b1b4b6;
  margin-bottom: 40px;
}
.image-logo {
  width: 95px;
  float: right;
  display: inline;
  overflow: clip;
}
.govuk-notification-banner {
  border-color: black;
}
.govuk-notification-banner__heading {
  max-width: none;
}
.govuk-notification-banner__content p {
  max-width: none;
}
.charity {
  float: left;
  padding: 0 30px 0 0;
}
.search-about {
  background: #f3f2f1;
}
.search-about,.search-in {
  padding: 10px;
}
.search-about p,.search-in p {
  margin: 0 20px 0 0;
  float: left;
}

.search-terms > div:nth-child(odd){
  background:#f3f2f1
}

.search-terms > div:nth-child(even){
  background: white
}

.search-tag {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 0.3125em;
  background: #f3f2f1;

  padding: 3px;
  margin: 0 10px 0 0;
}
.search-tag p {
  padding: 0 8px;
  margin: 0;
}

.helps-with {
  background-color: #005ea5;
  padding: 10px;
  padding-top: 30px;
  padding-left: 30px;
}

.helps-with p {
  color: white;
}

.contact-us {
  float: right;
}

.search-icon {
  background-color: #1d70b8;
  &:hover {
    background-color: #207dce;
  }
}

.search-icon img {
  display: flex;
}
