{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <a href="findsupport3">
      <img src="/public/images/sprint-006/manual_2.png" style="    width: 70%;
      position: absolute;
      top: 0;
      left: auto;" alt="An image of the bespoke version of the signposting tool">
    </a>

  </div>
</div>

{% endblock %}
