{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      If you are still in active service you can request a referral to Defence Transition Services
    </h1>

    <p>Defence Transition Services is the branch of Defence Business Services which provides specialist advice and support to service personnel to help with the transition to civilian life. </p>
    <p>They also provide support to veterans and their families for the first two years after they've been discharged. </p>
      
    <form class="form" action="/sprint-004/eligibility/referral//" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-m">
              Would you like to switch to request a referral to Defence Transition Services?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doYouConsent" name="doYouConsent" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="doYouConsent">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doYouConsent-2" name="doYouConsent" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="doYouConsent-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    <h3 class="govuk-heading-s">
      If you would like to speak to someone contact Defence Business Services
    </h3>
    <p>
      Freephone (UK only): 0808 1914 2 18<br>
      Telephone (overseas): +44 1253 866 043<br>
      8.00 am to 5:00 pm Monday to Friday
  </p>
    <p>When the helpline is closed, callers will be given the option to be routed to The Samaritans 24hr helpline.</p>

  </div>
</div>

{% endblock %}