{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Request a referral to Op Courage
      </h1>

      <p>Use this service to request a referral to Op Courage.</p>
      <p>This is a specialist NHS mental health specialist service designed to help  veterans and their families.</p>
      <p>If you left service in the last two years, you should contact Defence Business Services. Their Defence Transition Service is for people who have recently left service or are preparing to leave soon. It offers a whole range of specialised support for those transitioning to civilian life.</p>

      <h2 class="govuk-heading-m">
        How Op Courage can help
      </h2>
      <p>Op Courage is an NHS service supported by trained professionals who are from, or have experience of working with, the armed forces community. They will help you to access the best kind of help and support for your needs.</p>

      <h2 class="govuk-heading-m">
        Who this service is for
      </h2>
      <p>To receive help and support from Op Courage you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          be a resident in England and have served in the UK armed forces for a full day
        </li>
        <li>be registered with a GP surgery in England, or be willing and eligible to <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">register with a GP</a></li>
        <li>provide your military service number</li>
      </ul>
      <p>It does not matter how long ago you left the armed forces or how long you served for. </p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to consent to share personal information with Op Courage </li>
        <li>details of your discharge date</li>
        <li>whether you were medically discharged </li>
        <li>your service number</li>
        <li>an email address we can use to contact you</li>
      </ul>
      <p>It does not matter how long ago you left the armed forces or how long you served for. </p>

      {{ govukButton({
        text: "Start now",
        href: "/sprint-004/eligibility/referral/consent",
        isStartButton: true
      }) }}


      <h3 class="govuk-heading-s">
        If you need help using this service contact Defence Business Services
      </h3>
      <p>
        Freephone (UK only): 0808 1914 2 18<br>
        Telephone (overseas): +44 1253 866 043<br>
        8.00 am to 5:00 pm Monday to Friday
    </p>
      <p>When the helpline is closed, callers will be given the option to be routed to The Samaritans 24hr helpline.</p>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
