{% extends "layouts/main.html" %}

{% block pageTitle %}
Consent to refer – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We can refer you to Veterans UK for support
    </h1>

    <p>
      We will ask you for some personal information in the following pages, including how best to contact you. We need
      your consent to share this information with Veterans UK.
    </p>

    <p>
      The <a href="https://www.gov.uk/government/publications/ministry-of-defence-privacy-notice/mod-privacy-notice">MOD
        Privacy Notice</a> explains your rights and provides information that you are entitled to under UK data
      protection legislation.
    </p>


    <form class="form" action="/sprint-003/full-name" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-m">
              Do you consent to the above?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doYouConsentToRefer" name="doYouConsentToRefer" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="doYouConsentToRefer">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="doYouConsentToRefer-2" name="doYouConsentToRefer" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="doYouConsentToRefer-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}