{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h3 class="govuk-heading-m">Individual screens</h3>

<p>Louise</p>
<ul class="govuk-list govuk-list--bullet">
  
  <li>
    <a href="/current/veterans-id-card" class="govuk-link">Do you have a veteran's ID card?</a>
  </li>

  <li>
    <a href="/current/veterans-id-card-details" class="govuk-link">Veteran's ID card details</a>
  </li>

  <li>
    <a href="/current/i-need-help-with" class="govuk-link">What do you need help with?</a>
  </li>

  <li>
    <a href="/current/financial-support-info" class="govuk-link">Financial support for veterans</a>
  </li>

  <li>
    <a href="/current/financial-support-type" class="govuk-link">What kind of financial support do you need?</a>
  </li>

  <li>
    <a href="/current/grant-reasons" class="govuk-link">What do you need a grant for?</a>
  </li>

  <li>
    <!-- <a href="/current/grant-reasons" class="govuk-link"> -->
      Search results (grants)
    <!-- </a> -->
  </li>

  <li>
    <a href="/current/info-poppy-scotland" class="govuk-link">Choose what you'd like to do next (Poppy Scotland)</a>
  </li>

  <li>
    <a href="/current/check-your-answers" class="govuk-link">Check your answers</a>
  </li>

</ul>

{% endblock %}
