{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% include "emergency-banner.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your name?
      </h1>

      <form class="form" action="/current/date-of-birth" method="post">

        <p>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="first-name">
                First name
              </label>
            </h1>
            <input class="govuk-input govuk-!-width-one-third" id="first-name" name="firstName" type="text">
          </div>
  
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="last-name">
                Last name
              </label>
            </h1>
            <input class="govuk-input govuk-!-width-one-third" id="last-name" name="lastName" type="text">
          </div>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
