{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

{% include "emergency-banner.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find out what support is available to veterans in your area
      </h1>

      <p>There are many services available to veterans, ranging from emergency help to practical support with things like transitioning to civilian life, housing and pensions. </p>
      <p>Use this tool to find the support you can access in the area you live in.</p>
      <p>You will be able to check and save or print your answers at the end.</p>
      <p>You can then choose to contact the organisations that can help you yourself, or ask to be contacted by them.</p>

      <!-- <ul class="govuk-list govuk-list--bullet">
        <li>grants (these are payments you do not need to pay back)</li>
        <li>benefits for veterans, for example the Armed Forces Independence Payment</li>
        <li>general benefits for everyone</li>
        <li>discounts, for example reduced council tax payments</li>
      </ul> -->

      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Explore this topic
      </h2>

      <p>
        <a href="https://www.gov.uk/guidance/national-services-that-offer-support-to-veterans" target="_blank">National services that offer support to veterans</a>
      </p>


    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
