{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
  <div class="card">
    <form class="govuk-fieldset" action="/sprint-008/signposting/finder" method="post">
      <details class="govuk-details" open>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                Topic
              </span>
        </summary>
        {{ govukCheckboxes({
                  name: "topic",
                  classes: "govuk-checkboxes--small",
                  items: [
                    {
                      value: "Finance",
                      text: "Finance"
                    },
                    {
                      value: "Physical health",
                      text: "Physical health"
                    },
                    {
                      value: "Mental health",
                      text: "Mental Health"
                    },
                    {
                      value: "Legal help",
                      text: "Legal help"
                    },
                    {
                      value: "Employment",
                      text: "Employment"
                    },
                    {
                      value: "Education and training",
                      text: "Education and Training"
                    },
                    {
                      value: "Housing",
                      text: "Housing"
                    },
                    {
                      value: "Family and Children",
                      text: "Family and Children"
                    },
                    {
                      value: "Social and community",
                      text: "Social and Community"
                    }
                  ]
                }) }}
      </details>

      <hr>
      <br>

      <details class="govuk-details" open>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                Location
              </span>
        </summary>

        {{ govukCheckboxes({ 
                  name: "location",
                  classes: "govuk-checkboxes--small",
                  items: [
                    {
                      value: "UK Wide",
                      text: "UK Wide"
                    },
                    {
                      value: "England",
                      text: "England"
                    },
                    {
                      value: "Scotland",
                      text: "Scotland"
                    },
                    {
                      value: "Wales",
                      text: "Wales"
                    },
                    {
                      value: "Northern Ireland",
                      text: "Northern Ireland"
                    },
                    {
                      value: "Accessible anywhere (remote/online only)",
                      text: "Accessible anywhere (remote/online only)"
                    }
                  ]
                }) }}
      </details>

      <hr>
      <br>

     {{ govukButton({
            text: "Apply filters"
          }) }}

      <div id="passport-issued-hint" class="govuk-hint">
        <a href="/sprint-008/signposting/finder?topic&location">(clear filters)</a>
      </div>
    </form>
  </div>

{% endblock %}