{% extends "layouts/main.html" %}

{% block pageTitle %}
Finder {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
        Apply to be added to Find support for veterans and their families
      </h1>
        <div class="govuk-grid-column-two-thirds">
            <p>You can apply to be added to Find support for veterans and their families if you are a: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>charity that meets the prescribed eligibility criteria</li>
                <li>statutory service run or funder by the government</li>
                <li>Community Interest Company(CIC)</li>
                <li>non-profit that offers support to veterans and their families</li>
                <li>a statutory service - run or funded by a government body or local authority</li>
            </ul>

            <h2 class="govuk-heading-m">How to apply</h2>

            <p>If you want to apply to be added to the directory, or amend a current listing, we will send you an email containing:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>The eligibility criteria for inclusion in the directory</li>
                <li>A link to a form to fill in content to be submitted for your listing</li>
                <li>A 'memorandum of understanding' which sets out the terms and conditions and expectations for both the Office for Veterans' Affairs and any organisations listed in the directory</li>
            </ul>

            <br>

            <p><a href="">Submit a request to be added to the Find support for veterans and their families directory<a></p>
            <br>
            <p><a href="">Update an existing listing on the Find support for veterans and their families directory<a></p>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-prototype-kit-common-templates-related-items">
                <h4 class="govuk-heading-m">
          Related content
        </h4>
                <ul class="govuk-list">
                    <li>
                        <a href="https://www.gov.uk/government/organisations/office-for-veterans-affairs" target="_blank">
                Office for Veterans' Affairs
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/veteran-card" target="_blank">
                Apply for an HM Armed Forces Veteran Card
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/guidance/veterans-welfare-service" target="_blank">
                Veterans Welfare Service
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/veteran-card" target="_blank">
                Support for veterans and their families
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/veteran-card" target="_blank">
                Support for veterans and their families in Northern Ireland
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/veteran-card" target="_blank">
                The Scottish veterans fund
              </a>
                    </li>
                    <li>
                        <a href="https://www.gov.wales/armed-forces-and-veterans" target="_blank">
                Gov.Wales armed forces and veterans page
              </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}