{% extends "layouts/main.html" %}

{% block pageTitle %}
Finder {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
      Find support for veterans and their families
      </h1>
    <div class="govuk-grid-column-two-thirds">
      <p>Use this service to find information about support available to ex members of the UK armed forces and their families.</p>
      <p>You can filter results by location and select as many areas of support as you need. Results will include information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>services that are funded or run by the government</li>
        <li>charities and other non-government organisations</li>
      </ul>
      <div class="govuk-inset-text">
      UK veterans are defined as anyone who has served for at least one day in HM Armed Forces (Regular or Reserve) or Merchant Mariners who have seen duty on legally defined military operations.
    </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-prototype-kit-common-templates-related-items">
        <h2 class="govuk-heading-m">
          Related content
        </h2>
        <ul class="govuk-list">
          <li>
            <a href="https://www.gov.uk/government/organisations/office-for-veterans-affairs" target="_blank">
                Office for Veterans' Affairs
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                Apply for an HM Armed Forces Veteran Card
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
    If you are in danger, or at immediate risk, ring 999
  </strong>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
      Find more information about government services at <a href="findsupport1">Support for veterans and their families</a>.
    </p>
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "./components/filters.html"%}
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "./components/results.html" %}
    </div>
  </div>

{% endblock %}