{% extends "layouts/main.html" %}

{% block pageTitle %}
Finder {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
      Find support for veterans and their families
      </h1>
    <div class="govuk-grid-column-two-thirds">
      <p>Find information about support available to ex member of the UK armed forces and their families.</p>
      <p>You can filter results by location and select as many areas of support as you need. Results will include information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>services that are funded or run by the government</li>
        <li>charities and other non-government organisations</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            If you are in danger, or at immediate risk, ring 999</strong>
      </div>

      <h2 class="govuk-heading-m">Disclaimer</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
            We have worked closely with COBSEO and the Royal British Legion to develop eligibility criteria to ensure that organisations are services listed here are reliable and deliver value.
            We are not liable for any issues experienced with the organisations listed.
          </li>
        <br>
        <li>
            This is not an exhaustive list of all services on offer to veterans and their families in the UK.
            Listings will be regularly reviewed and amended to reflect the changing landscape of veterans' services.
          </li>
      </ul>

      <h3 class="govuk-heading-m">
        Apply to be added to this service
      </h3>
      <p>If you provide a service to veterans and their families you can <a href="/sprint-008/signposting/apply">apply to be added to this service.</a> You can also request an amend to an existing listing on this page.</p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-prototype-kit-common-templates-related-items">
        <h4 class="govuk-heading-m">
          Related content
        </h4>
        <ul class="govuk-list">
          <li>
            <a href="https://www.gov.uk/government/organisations/office-for-veterans-affairs" target="_blank">
                Office for Veterans' Affairs
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                Apply for an HM Armed Forces Veteran Card
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/guidance/veterans-welfare-service" target="_blank">
                Veterans Welfare Service
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                Support for veterans and their families
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                Support for veterans and their families in Northern Ireland
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                The Scottish veterans fund
              </a>
          </li>
          <li>
            <a href="https://www.gov.wales/armed-forces-and-veterans" target="_blank">
                Gov.Wales armed forces and veterans page
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "./components/filters.html"%}
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "./components/results.html" %}
    </div>
  </div>

{% endblock %}