{% extends "layouts/main.html" %}

{% block pageTitle %}
Finder {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
      Find support for veterans and their families
      </h1>
    <div class="govuk-grid-column-two-thirds">
      <p>Find information about support available to ex member of the UK armed forces and their families.</p>
      <p>You can filter results by location and select as many areas of support as you need. Results will include information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>services that are funded or run by the government</li>
        <li>charities and other non-government organisations</li>
      </ul>
      <div class="govuk-inset-text">
        The Office for Veterans Affairs provides this tool to help users filter and find relevant information but is not responsible for the content or services linked to. 
        the organisation listed here are responsible for making sure their information is correct and for any service they provide.
      </div>
      <p>
        To speak to someone about government support for Veterans, call the Veterans UK helpline between 8am-4pm Monday-Friday
      </p> 
      <p>
        UK Freephone: 0808 1914 218 
        <br>
        Overseas: +44 1253 866 043
      </p> 
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-prototype-kit-common-templates-related-items">
        <h2 class="govuk-heading-m">
          Related content
        </h2>
        <ul class="govuk-list">
          <li>
            <a href="https://www.gov.uk/government/organisations/office-for-veterans-affairs" target="_blank">
                Office for Veterans' Affairs
              </a>
          </li>
          <li>
            <a href="https://www.gov.uk/veteran-card" target="_blank">
                Apply for an HM Armed Forces Veteran Card
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
    If you are in danger, or at immediate risk, ring 999
  </strong>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
      Find more information about government services at <a href="findsupport1">Support for veterans and their families</a>.
    </p>
    </div>
  </div>

  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "./components/filters.html"%}
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "./components/results.html" %}
    </div>
  </div>

{% endblock %}