{% block content %}

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading" style="max-width:100%;">
      For information about urgent help for veterans visit
      <a class="govuk-notification-banner__link" href="#"> https://www.gov.uk/guidance/urgent-help-for-veterans</a>
    </p>
    <!-- <p>
      Freephone (UK only): 0808 1914 218<br>
      Telephone (overseas): +44 1253 866 043<br>
      Email: veterans-uk@mod.gov.uk
    </p>
      
    <p>
      Phone lines are open 8am-4pm Monday-Friday.<br> 
      When the helpline is closed, callers will be given the option to be re-routed to
      <span class="strong"></span> Samaritans 24 hour helpline: 116 123</span>
    </p> -->
  </div>
</div>


{% endblock %}
