{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<!-- <style>
  .app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #1d70b8;
    margin-top: -10px;
}
</style> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">
      The Office for Veterans' Affairs, Alpha Phase
    </p>

    <!-- <p class="govuk-body">
      <a href="design-doc" class="govuk-link">Design documentation</a>
    </p>

    <p class="govuk-body">
      <a href="ur" class="govuk-link">User testing space</a>
    </p> -->

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Sprint 2
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
           1 - 13 November 2023
          </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <h2 class="govuk-heading-m">Introduction</h2>
          <p class="govuk-body">[This is the introduction to the Sprint 2 work]</p>
          <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
          <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Changes from last version</h3>
          <p class="govuk-body">n/a</p>
          <h3 class="govuk-heading-m">What we found</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Known issues</h3>
          <p class="govuk-body">E.g:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>No error messages in the prototype</li>
            <li>Uses dummy data on screens</li>
          </ul>
          <h3 class="govuk-heading-m">Prototype links</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/current/start" class="govuk-link">Start user journey</a>
            </li>
            <!-- <li>
              <a href="/current/veterans-id-card" class="govuk-link">Do you have a veteran's ID card?</a>
            </li> -->
            <li>
              <a href="/current/_breakdown" class="govuk-link">Page by page breakdown</a>
            </li>
          </ul>
        </div>
      </div>
    </div>









    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
