{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<!-- <style>
  .app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #1d70b8;
    margin-top: -10px;
}
</style> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }} Office for Veterans' Affairs
    </h1>

    <span class="govuk-hint">October 2023 - March 2024</span>

    <p class="govuk-body-l">
      Alpha Phase
    </p>
  

    <!-- <p class="govuk-body">
      <a href="design-doc" class="govuk-link">Design documentation</a>
    </p>

    <p class="govuk-body">
      <a href="ur" class="govuk-link">User testing space</a>
    </p> -->

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Sprint 7
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
         14 February - 27 February 2024
        </div>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <!-- <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body">[This is the introduction to the Sprint 4 work]</p>
        <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
        <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Changes from last version</h3>
        <p class="govuk-body">n/a</p>
        <h3 class="govuk-heading-m">What we found</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">E.g:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>No error messages in the prototype</li>
          <li>Uses dummy data on screens</li>
        </ul> -->
        <h3 class="govuk-heading-m">Prototype links</h3>
        <p>GDS Finder</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-007/signposting/gds-finder" class="govuk-link">GDS Finder - default view</a>
          </li>
          <li>
            <a href="/sprint-007/signposting/gds-finder-finance-mh" class="govuk-link">GDS Finder - finance and mental health in England</a>
          </li>
          <li>
            <a href="/sprint-007/signposting/gds-finder-finance" class="govuk-link">GDS Finder - finance in England</a>
          </li>
          <!-- <li>
            <a href="/sprint-004/eligibility/start" class="govuk-link">Eligibility journey</a>
          </li> -->
        </ul>
        <!-- <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-004/eligibility/referral/start" class="govuk-link">data capture</a>
          </li>

        </ul> -->
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Sprint 6
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
         31 January - 13 February 2024
        </div>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <!-- <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body">[This is the introduction to the Sprint 4 work]</p>
        <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
        <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Changes from last version</h3>
        <p class="govuk-body">n/a</p>
        <h3 class="govuk-heading-m">What we found</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">E.g:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>No error messages in the prototype</li>
          <li>Uses dummy data on screens</li>
        </ul> -->
        <h3 class="govuk-heading-m">Prototype links</h3>
        <p>(Flat images)</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-006/signposting/bespoke" class="govuk-link">Bespoke</a>
          </li>
          <li>
            <a href="/sprint-006/signposting/gdsfilter" class="govuk-link">GDS Filter</a>
          </li>
          <!-- <li>
            <a href="/sprint-004/eligibility/start" class="govuk-link">Eligibility journey</a>
          </li> -->
        </ul>
        <!-- <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-004/eligibility/referral/start" class="govuk-link">data capture</a>
          </li>

        </ul> -->
      </div>
    </div>
    
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Sprint 5
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
         17 - 30 January 2024
        </div>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <!-- <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body">[This is the introduction to the Sprint 4 work]</p>
        <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
        <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Changes from last version</h3>
        <p class="govuk-body">n/a</p>
        <h3 class="govuk-heading-m">What we found</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">E.g:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>No error messages in the prototype</li>
          <li>Uses dummy data on screens</li>
        </ul> -->
        <h3 class="govuk-heading-m">Prototype links</h3>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/sprint-005/signposting/search-results-v4-default" class="govuk-link">Signposting tool</a>
          </li>
          <!-- <li>
            <a href="/sprint-004/eligibility/start" class="govuk-link">Eligibility journey</a>
          </li> -->
        </ul>
        <!-- <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-004/eligibility/referral/start" class="govuk-link">data capture</a>
          </li>

        </ul> -->
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Sprint 4
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
         30 November - 13 December 2023
        </div>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <!-- <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body">[This is the introduction to the Sprint 4 work]</p>
        <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
        <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Changes from last version</h3>
        <p class="govuk-body">n/a</p>
        <h3 class="govuk-heading-m">What we found</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">E.g:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>No error messages in the prototype</li>
          <li>Uses dummy data on screens</li>
        </ul> -->
        <h3 class="govuk-heading-m">Prototype links</h3>
        <ul class="govuk-list govuk-list--bullet">
          <!-- <li>
            <a href="/sprint-004/start/main" class="govuk-link">Start user journey</a>
          </li>
          <li>
            <a href="/sprint-004/search-results-v1" class="govuk-link">Search results version 1</a>
          </li>
          <li>
            <a href="/sprint-004/search-results-v2" class="govuk-link">Search results version 2</a>
          </li> -->
          <li>
            <a href="/sprint-004/signposting/start" class="govuk-link">Signposting journey</a>
          </li>
          <li>
            <a href="/sprint-004/eligibility/start" class="govuk-link">Eligibility journey</a>
          </li>
        </ul>
        <!-- <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-004/eligibility/referral/start" class="govuk-link">data capture</a>
          </li>

        </ul> -->
      </div>
    </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Sprint 3
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
           15 - 29 November 2023
          </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <!-- <h2 class="govuk-heading-m">Introduction</h2>
          <p class="govuk-body">[This is the introduction to the Sprint 3 work]</p>
          <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
          <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Changes from last version</h3>
          <p class="govuk-body">n/a</p>
          <h3 class="govuk-heading-m">What we found</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Known issues</h3>
          <p class="govuk-body">E.g:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>No error messages in the prototype</li>
            <li>Uses dummy data on screens</li>
          </ul> -->
          <h3 class="govuk-heading-m">Prototype links</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/sprint-003/start/main" class="govuk-link">Start user journey</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Sprint 2
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            1 - 13 November 2023
          </div>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <!-- <h2 class="govuk-heading-m">Introduction</h2>
          <p class="govuk-body">[This is the introduction to the Sprint 2 work]</p>
          <h3 class="govuk-heading-m">Hypothesis / what we plan to test</h3>
          <p class="govuk-body">[This is the content for our Hypothesis / what we plan to test]</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Changes from last version</h3>
          <p class="govuk-body">n/a</p>
          <h3 class="govuk-heading-m">What we found</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <h3 class="govuk-heading-m">Known issues</h3>
          <p class="govuk-body">E.g:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>No error messages in the prototype</li>
            <li>Uses dummy data on screens</li>
          </ul> -->
          <h3 class="govuk-heading-m">Prototype links</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/sprint-002/start" class="govuk-link">Start user journey</a>
            </li>
            <!-- <li>
              <a href="/sprint-002/veterans-id-card" class="govuk-link">Do you have a veteran's ID card?</a>
            </li> -->
            <!-- <li>
              <a href="/sprint-002/_breakdown" class="govuk-link">Page by page breakdown</a>
            </li> -->
          </ul>
        </div>
      </div>

    </div>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
